
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>site boomarker</title>

    
    
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" >
<link href="jumbotron.css" rel="stylesheet">
  </head>
  <body>
   <h3 class="text-muted">bookmark</h3>



  
  <div class="jumbotron">
      <h2>Bookmark your favorite site</h2>
    <div class="container">
      <a href="/bookmark/new" class="item">new bookmark</a>
      


  <h1>this is a show template</h1>
  <% bookmarks.forEach(function(bookmark){ %>
    <div>
        <h2><%= bookmark.title %></h2>
        <h2><%= bookmark.link %></h2>
       <span><%= bookmark.created %></span>
       <P><%= bookmark.publisher %></P>
       <a href="/bookmark/<%= bookmark._id %>">show</a>
    
    </div>
    <% }) %>



      
  
    




    </div>
  </div>
  